* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #146bc8, #a15cc0, #e64895, #ff5958, #ee870a);
    font-family: "Biryani", sans-serif;
    height: auto;
}

header {
    height: 500px;
    background-image:url(../assets/juguetes.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: 900;
    font-size: 4rem;
    color: #2b003f;
    background-image:  linear-gradient(rgba(14, 96, 151, 0.6), rgba(255, 90, 8, 0));
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 0 10px 0 10px;
}
header p{
    color: #422400;
    background-image:  linear-gradient(rgba(14, 96, 151, 0), rgba(255, 90, 8, 0.6));
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

@media (max-width: 1036px){
    h1{
        font-size: 3rem;
        align-self: center;
    }
}
@media (max-width: 504px){
    h1{
        font-size: 2.5rem;
    }
    header p{
        font-size: 1.5rem;
    }
}

main {
    background-color: #146bc82d;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 3px solid #2b003f;
}
main h2{
    font-size: 2rem;
    text-align: center;
}
main p{
    text-align: center;
    font-size: 2rem;
}
main img{
    width: 300px;
}

@media(max-width: 1330px){
    main h2{
        font-size: 1.6rem;
    }
    main p{
        font-size: 1.6rem;
    }
}

#ejercicios{
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

aside button{
        color: #422400;
        border: 4px solid rgb(216, 2, 134);
        border-radius: 20px;
        padding: 18px 36px;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #D80286;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    }


.sumas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #146bc83b;
    border: 3px solid rgb(84, 1, 1);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 15px;
}

.sumas_caja, .resta_caja, .multiplicacion_caja, .division_caja{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.300);
    border: 2px solid rgb(111, 7, 81);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.resta_caja{
    background-color: rgba(255, 255, 0, 0.300);
}
.multiplicacion_caja{
    background-color: #2602d878;
}
.division_caja{
    background-color: rgba(170, 3, 176, 0.543);
}


.respuesta{
    width: 80px;
    height: 60px;
    font-size: 3.5rem;
    background-color: #a923236f;
    border: 2px solid rgb(111, 7, 81);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sumas_caja_numero, .sumas_caja_numeroDos, .resta_caja_numero, .resta_caja_numeroDos,
.multiplicacion_caja_numero, .multiplicacion_caja_numeroDos,
.division_caja_numero, .division_caja_numeroDos{
    font-size: 3.4rem;
    margin-left: 10px;
    margin-right: 10px;
}
@media(max-width: 1330px){
    .sumas_caja_numero, .sumas_caja_numeroDos, .resta_caja_numero, .resta_caja_numeroDos,
.multiplicacion_caja_numero, .multiplicacion_caja_numeroDos,
.division_caja_numero, .division_caja_numeroDos{
    font-size: 2.5rem;
}
}


.sumas_info, .resta_info, .multiplicacion_info, .division_info{
    background-color: rgba(0, 255, 255, 0.300);
    width: 230px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    bottom: 500px;
    align-self: center;
}

.correcto{
    background-color: rgba(0, 128, 0, 0.492);
}
.incorrecto{
    background-color: rgba(255, 0, 0, 0.536);
}

footer{
    display: flex;
    align-items: center;
    height: 300px;
    background-image: url(../assets/nino.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.gradiente{
    background-image:  linear-gradient(to right top, #94009482, #7035a17f, #4a48a47a, #21539d7b, #0059907e);
    width: 100%;
    height: 100%;
    align-content: center;
}
@media(max-width: 1200px){
    footer{
        background-position-y: -350px;
    }
}
@media(max-width: 890px){
    footer{
        background-position-y: -150px;
    }
}
@media(max-width: 450px){
    footer{
        background-position-y: 0;
    }
}

#registrarUsuario{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 300px;
    font-size: 4rem;
    background-color: rgba(153, 205, 50, 0.164);
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 3px 9px black;
    margin: 30px;
    justify-content: center;
}
#registrarUsuario label{
    align-self: center;
    color: #2b003f;
    text-shadow: 0 3px 9px rgb(147, 0, 76);
}
#registrarUsuario input{
    align-self: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 400px;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    color: #5630009c;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.322);
}
#registrarUsuario button{
    font-size: 2rem;
    background-color: #2b003f9c;
    border: 3px solid #660340;
    color: rgba(255, 228, 196, 0.724);
}
#mensaje{
    color: #2b003f;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}
@media(max-width: 1000px){
    #registrarUsuario{
        font-size: 3rem;
        height: 250px;
    }
    #registrarUsuario input{
        font-size: 2.5rem;
        width: 300px;
        height: 70px;
    }

}
@media(max-width: 580px){
    #registrarUsuario{
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        height: 240px;
    }
    #registrarUsuario input{
        width: 240px;
        height: 50px;
        font-size: 2rem;
    }
    #registrarUsuario button{
        width: 120px;
        align-self: center;
        font-size: 1.5rem;
    }
    #mensaje{
        font-size: 1.6rem;
    }
}

aside{
    font-family: "margarine";
    background-image: url("../assets/zorronaranjo.jpg");
    background-position-y: -200px ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 60px 10px 0 10px;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 10px dotted rgba(100, 0, 194, 0.81);
    box-shadow: 0 6px 18px black;
}

table{
    width: 100%;
    height: 400px;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 255, 255, 0.941);
    text-shadow: 0 5px 15px black;
}

.tabla_tipos{
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}
@media(max-width: 1000px){
    .tabla_tipos {
        font-size: 2rem;
    }
}
@media(max-width: 780px){
    table {
        font-size: 2rem;
        height: 300px;
    }
}

.ocultar{
    display: none;
}

#quien_juega{
    font-family: "margarine", sans-serif;
    text-align: center;
    align-self: flex-start;
    max-width: 320px;
    min-width: 100%;
    font-size: 5rem;
    background: linear-gradient(to right, #730078, #850056, #870036, #7f001b, #711d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 20px 60px black;
    margin-bottom: 30px;
    margin-top: 30px;
}
@media (max-width: 600px){
    #quien_juega{
        font-size: 12vw;
    }
}
#calificacion_total, #puntos_total{
    color: powderblue;
    text-shadow: 0 3px 9px black;
    background-color: #2b003f8e;
    font-size: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}