* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #146bc8, #a15cc0, #e64895, #ff5958, #ee870a);
    font-family: "Biryani", sans-serif;
    height: auto;
}

header {
    height: 500px;
    background-image:url(../assets/juguetes.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: 900;
    font-size: 4rem;
    color: #2b003f;
    background-image:  linear-gradient(rgba(14, 96, 151, 0.6), rgba(255, 90, 8, 0));
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 0 10px 0 10px;
}
header p{
    color: #422400;
    background-image:  linear-gradient(rgba(14, 96, 151, 0), rgba(255, 90, 8, 0.6));
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

@media (max-width: 1036px){
    h1{
        font-size: 3rem;
        align-self: center;
    }
}
@media (max-width: 504px){
    h1{
        font-size: 2.5rem;
    }
    header p{
        font-size: 1.5rem;
    }
}


nav{
    display: flex;
    justify-content: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    width: 700px;
    background-color: #146bc8;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

nav ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li img{
    width: 60px;
}
nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #5e1212;
    font-weight: 700;
}

main {
    background-color: #146bc82d;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 3px solid #2b003f;
}
main h2{
    font-size: 4rem;
    text-align: center;
}
main p{
    text-align: center;
    font-size: 2rem;
}
main img{
    width: 300px;
}
.div_explicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div_explicacion_p{
    font-size: 2rem;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main section button{
        color: #422400;
        border: 4px solid rgb(216, 2, 134);
        border-radius: 20px;
        padding: 18px 36px;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #D80286;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    }


.buttonAzul{
    color: #610000;
    border: 4px solid rgb(20, 2, 216);
    box-shadow: inset 0 0 0 0 #2602d8;
}
.buttonAzul:hover{
    box-shadow: inset 400px 0 0 0 #3002d8a3;
}

.sumas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #146bc83b;
    border: 3px solid rgb(84, 1, 1);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.sumas_caja, .resta_caja, .multiplicacion_caja, .division_caja{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.300);
    border: 2px solid rgb(111, 7, 81);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.resta_caja{
    background-color: rgba(255, 255, 0, 0.300);
}
.multiplicacion_caja{
    background-color: #2602d878;
}
.division_caja{
    background-color: rgba(170, 3, 176, 0.543);
}


.respuesta{
    width: 80px;
    height: 60px;
    font-size: 3.5rem;
    background-color: #a923236f;
    border: 2px solid rgb(111, 7, 81);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sumas_caja_numero, .sumas_caja_numeroDos, .resta_caja_numero, .resta_caja_numeroDos,
.multiplicacion_caja_numero, .multiplicacion_caja_numeroDos,
.division_caja_numero, .division_caja_numeroDos{
    font-size: 3.4rem;
    margin-left: 10px;
    margin-right: 10px;
}

.sumas_info, .resta_info, .multiplicacion_info, .division_info{
    position: sticky;
    align-self: flex-start;
    background-color: rgba(0, 255, 255, 0.300);
    width: 230px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    bottom: 500px;
}
.resta_info{
    background-color: rgba(0, 0, 255, 0.300);
}
@media (max-width: 756px){
    .sumas_info, .resta_info, .multiplicacion_info, .division_info{
        position: static;
    }
}




.correcto{
    background-color: rgba(0, 128, 0, 0.492);
}
.incorrecto{
    background-color: rgba(255, 0, 0, 0.536);
}

footer{
    display: flex;
    align-items: center;
    height: 200px;
    background-color: rgba(25, 25, 112, 0.343);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}